@import "tailwindcss";

:root {
  font-family: "Host Grotesk", sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}


html,
body {
  height: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

a {
  text-decoration: none;
  color: inherit;
}